.add_news_container {
    padding: 20px;
}

.header {
    font-size: 2rem;
    margin-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}

.form_group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input, .textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #000000;
}

.submit_button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit_button:hover {
    background-color: #2980b9;
}

.loader_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.back_button {
    background-color: #cccccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.back_button:hover {
    background-color: #b3b3b3;
}
